* {
  margin: 0;
  padding: 0;
}

.top {
  background-color: aquamarine;
  height: 1200px;
}

.ourworks {
  margin: 0 60px;
  padding-top: 182px;
}

.ourworks_title {
  display: flex;
  column-gap: 4px;
}

h1 {
  font-family: neue-haas-unica, sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -.025em;
}

.title_count {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .025em;
  text-align: right;
}

.content {
  border-top: 1px solid;
  margin-top: 50px;
  position: relative;
}

.content_count {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 8px;
  right: 0;
}

.content_item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 128px;
  padding-block: 42px 80px;
}

.text_item p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.025em;
}

.inview {
  position: relative;
  top: 50px;
  opacity: 0;
  transition: 0.5s;
}

.inview.show {
  opacity: 1;
  top: 0;
}

h2 {
  font-family: neue-haas-unica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  height: 40px;
  width: 100%;
  overflow: hidden;
  line-height: 1.25;
  letter-spacing: -.025em;
}

.h2_js {
  display: block;
  position: absolute;
  height: 100%;
  transition: all 0.5s;
}

.first {
  top: 0;
}

.last {
  top: 100%;
}

.first.move {
  top: -100%;
}

.last.move {
  top: 0;
}

.category {
  font-family: neue-haas-unica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.025em;
}

.data_area ul {
  display: flex;
  margin-top: 10px;
}

.data_area ul li {
  list-style: none;
  color: gray;
  font-size: 12px;
}

.data_area ul li:not(:last-child):after {
  content: ', ';
  display: inline-block;
  margin-right: 4px;
}

.image_area {
  grid-area: 1 / 2 / 3 / 3;
}

.img_view {
  width: 400px;
  height: 300px;
  overflow:hidden;
  transition: 0.5s;
}

.img_item {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
}

.img_item.move {
  transform: scale(1.5);
}

.img_view.move {
  transform: scale(0.9);
}